*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.header{
    width: 100%;
    display: flex;
    position: fixed;
    padding: 1%;
    justify-content: space-between;    
    background-color: #000;
}

.logo-menu{
    width: 6rem;
    height: 6rem;
}

.menu{
    width: 30%;
    display: flex;
    
}

.menu-btn{
    width: 50%;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.inicio{
    width: 100%;
    height: 40rem;
    display: flex;
}

.apresentation{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.logo-apresentation{
    width: 20rem;
    border-radius: 1rem;
    -webkit-box-shadow: -20px 22px 33px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -20px 22px 33px -1px rgba(0,0,0,0.47);
    box-shadow: -20px 22px 33px -1px rgba(0,0,0,0.47);
}

.apresentation-content{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    padding: 0.5%;
    margin: 5%;
    height: 20rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 5%;
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    border-radius: 1rem 4rem ;
    -webkit-box-shadow: -20px 22px 33px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -20px 22px 33px -1px rgba(0,0,0,0.47);
    box-shadow: -20px 22px 33px -1px rgba(0,0,0,0.47);
}

.projects{
    width: 98%;
    height: 35rem;
    background-color: #000;
    border-radius: 3rem 2rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90% 90%;
}

.projects-title{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 5%;
    height: 1rem;
    color: #fff;
}

.Pdesc,.Plogo{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.Pdesc{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}


.Plogo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}


.Pdesc-content{
    margin: 5%;
    width: 90%;
    height: 20rem;
    border: 2px solid #fff;
    border-radius: 1rem 4rem;
    background-color: #fbf3e4;
    color:#000;
    padding: 1%;
}

.Pdesc-title{
    font-size: 3rem;
    color: #ff66c4;
}

.lovelace-logo{
    width: 20rem;
    border-radius: 1rem;
}

.quemSomos{
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.quemSomos-title{
    background-color: #fff;
    color: #000;
    padding: 2%;
}

.first-persons,.second-persons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 1%;
}

.card, .victor-card,.estrela-card, .aquino-card{
    width: 30%;
    height: 12rem;
    padding: 1%;
    background-color: #000;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 48% 50% 50%;
    grid-template-rows: 8.5rem 3rem;
    column-gap: 3%;
    row-gap: 3%;
    color: #fff;
}

.card-img, .victor-img, .estrela-img,.aquino-img{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 1rem;
}

.victor-card, .estrela-card{
    grid-template-columns: 37%;
}

.aquino-card{
    grid-template-columns: 30%;
}

.victor-img, .estrela-img, .aquino-img{
    height: 12rem;
}

.card-desc, .exodus-desc{
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: column;
    gap: 5%;
    border-bottom: 2px solid #fff;
}

.exodus-desc{
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: none;
}

.social{
    grid-column-start: 2;
}

.card-title{
    font-size: 1rem;
}

.insta, .linkedin,.gitHub{
    height: 3rem;
}

.ultimo{
    width: 100%;
    height: 6rem;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 880px){
    .logo-apresentation{
        width: 100%;
    }
    
    .lovelace-logo{
        width: 92%;
    }

    .Pdesc-content{
        height: 17rem;
    }

    .card-desc{
        font-size: .6rem;
    }

    .insta, .linkedin,.gitHub{
        width: 45%;
    }

}

@media screen and (max-width: 460px) {
    *{
        padding: 0px;
        margin: 0px;
    }

    .header {
        width: 100vw;
        justify-content: center;
    }

    .menu{
       display: none;
    }

    .inicio{
        background-image: none;
        width: 100vw;
    }

    .apresentation{
    display: none;
    }

    .apresentation-content{
        width: 98%;
    }

    .text{
        font-size: 1rem;
    }

    .projects{
        height: 50rem;
        grid-template-rows: 5rem;
        text-align: center;
    }
    
    .projects-title{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .Plogo{
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .lovelace-logo{
        width: 90%;
    }

    .Pdesc{
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }   

    .quemSomos{
        height: 73rem;
        gap: 0.01rem;
    }

    .first-persons,.second-persons{
        flex-direction: column;
        height: 46rem;
        padding: 1%;
    }

    .card,.victor-card, .estrela-card, .aquino-card {
        width: 95%;
        height: 10.8rem;
        grid-template-columns: 50% 45% 45%;
        grid-template-rows: 7rem 2rem;
        padding: 1%;
    }

    .victor-card, .estrela-card{
        grid-template-columns: 42%;
    }

    .aquino-card{
        grid-template-columns: 35%;
    }

    .victor-img, .estrela-img, .aquino-img{
        height: 10.7rem;
    }

    .card-img{
        width: 100%;
        height: 10.7rem;
    }

    .card-desc{
        height: 7rem;
        font-size: medium;
    }

    .insta, .linkedin,.gitHub{
        width: 30%;
    } 
}